.d3-tip {
  line-height: 1;
  font-weight: bold;
  font-size: 12px;
  padding: 6px;
  background: rgba(100,149,237,0.5);
  color: black;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(100,149,237,0.5);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip.s:after {
  content: "\25B2";
  margin: -17px 0 0 0;
  left: 0;
  text-align: center;
}



/* Style the swithch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




.txt-horizontal-axis{
	font-size: 12px;
	font-weight: bold;
	fill: "#000";
}

/* Required for interactive y-axis */
.txt-vertical-axis{
	writing-mode: vertical-rl;
	transform:rotate(-180deg);
	position:relative;
	top:10px;
	left:6px;
	font-size: 12px;
	font-weight: bold;
}

.select-vertical{
	/*The width is set to 28px, the width of the caret, as the width of the parent element supersedes the width of the child element (select), and therefore the text cannot be properly displayed*/
	transform:rotate(-90deg);
	position: relative;
	top:10px;
	width:28px;
	display:block;
	outline-style: none;
}

.custom-select{
	/* Transparent border!! */
	outline: 0;
	border: 0;
	padding: 0px 28px 4px 0px;
	font-size: 12px;
	font-weight: bold;
	float: right;
	height: 30px;
}


.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}


/* Style the dropup accordion options list */
.list-group-item{
	border: 0;
	padding: 0px 10px;
}


/* Styling the button accordion */
.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 4px;
  min-width: 80px;
  max-width:200px;
  bottom: 38px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 4px 20px;
  text-decoration: none;
  display: block;
}

.submenu-toggle {
  padding: 9px 6px;
  margin: 0px 0px 0px 0px;
}

.submenu-content {
  max-height:250px;/* you can change as you need it */
  overflow:auto;/* to get scroll */
}

.dropup-content a:hover {background-color: #ccc}

.dropup-content a.selected {
	background-color: #80b3ff
}



