.d3-tip {
  line-height: 1;
  /*font-weight: bold; */
  font-size: 12px;
  padding: 6px;
  background: rgba(100,149,237,0.5);
  color: black;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(100,149,237,0.5);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tool-tip {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1;
  padding: 6px;
  font-size: 12px;
  background: rgba(100,149,237,1);
  border-radius: 2px;
  pointer-events: none;
  color: black;
}


/* Box-icons */
box-icon {
	vertical-align: middle;
}

.icon {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid black;
  margin: 2px;
}

.icon:hover {
  border-color: lightgray;
}

.icon svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
}

.icon-small {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  margin: 0px;
}

.icon-small svg {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  display: inline-block;
}
