.d3-tip {
  line-height: 1;
  /*font-weight: bold; */
  font-size: 12px;
  padding: 6px;
  background: rgba(100,149,237,0.5);
  color: black;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(100,149,237,0.5);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/* Box-icons */
box-icon {
	vertical-align: middle;
}